<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Melissa's Capital Call App: Home Page</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "capitalcallapp/flexboxes.css" %}">
    </head>
    <body>
        <div class="header">Melissa's Capital Call App: Home Page</div>
        <div class="reset-database">
            <form>
                <input
                    type="button"
                    value="Clear database"
                    onclick="window.location.href='{% url 'capitalcallapp:clean-database' %}'"
                />
            </form>
        </div>
        <div class="new-commitment">
            <p>New Commitment</p>
            <form action="{% url 'capitalcallapp:new-commitment' %}" method="post">
                {% csrf_token %}
                <label for="new-commitment-amount">amount being committed (USD): </label>
                <input type="number" id="new-commitment-amount" name="new-commitment-amount" min="0" value="10000000">
                <br>
                <label for="new-commitment-date">date of new commitment: </label>
                <input
                    type="date"
                    id="new-commitment-date"
                    name="new-commitment-date"
                    min="{{ s_min_allowed_date }}"
                    value="2020-10-06">
                <br>
                <select id="fund-selection" name="fund-selection">
                    <option value="0">create new fund</option>
                    {% for s_summary in L_Fund_Summary_Strings %}
                        <option value="{{ forloop.counter }}">{{ s_summary }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Create Commitment">
            </form>
        </div>
        <div class="funds-summary">
            <p>Summary of Funds</p>
            {% if L_Funds %}
                <ul>
                    {% for s_summary in L_Fund_Summary_Strings %}
                        <li>{{ s_summary }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No funds exist yet.</p>
            {% endif %}
            <p>Total available to invest: $ {{ f_total_available_usd }}</p>
        </div>
        <div class="new-investment">
            <p>New Investment</p>
            <form action="{% url 'capitalcallapp:new-investment' %}" method="post">
                {% csrf_token %}
                <label for="new-investment-amount">amount to invest (USD): </label>
                <input
                    type="number"
                    id="new-investment-amount"
                    name="new-investment-amount"
                    min="0"
                    max="{{ f_total_available_usd }}"
                    value="{{ f_total_available_usd }}"
                >
                <br>
                <label for="new-investment-date">date of new investment: </label>
                <input
                    type="date"
                    id="new-investment-date"
                    name="new-investment-date"
                    min="{{ s_min_allowed_date }}"
                    value="2020-10-06"
                >
                <br>
                <input type="submit" value="Create Investment">
            </form>
        </div>
        <div class="footer">Melissa's Capital Call App: Home Page</div>
    </body>
</html>
