<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Melissa's Capital Call App: New Investment Created</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "capitalcallapp/flexboxes.css" %}">
    </head>
    <body>
        <div class="header">Melissa's Capital Call App: New Investment Created</div>
        <div class="investment-detail">
            <p>{{ s_new_investment_name }} has been created with capital called from {{ i_num_commitments_called }} commitments.</p>
            <ul>
                {% for D_Call_From_Commitment in L_Call_Dicts %}
                    <li>
                        $ {{ D_Call_From_Commitment.f_amount_usd }} called from
                        {{ D_Call_From_Commitment.s_commitment_name }} ({{ D_Call_From_Commitment.s_fund_name }})
                    </li>
                {% endfor %}
            </ul>
            <p> <a href="{% url 'capitalcallapp:index'  %}">Return to Capital Call App home page</a> </p>
        </div>
        <div class="footer">Melissa's Capital Call App: New Investment Created</div>
    </body>
</html>
